<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="LOGS" value="./log"/>
    <!--    <property name="pattern" value="%date{HH:mm:ss.SSS} %-5p %logger{36} %X{akkaSource} [%file:%line] - %m%n"/>-->


    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %boldGreen(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %C{5}:%yellow(%line) %msg%n
            </pattern>
        </layout>
    </appender>


    <appender name="INFO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/cards-info.log</file>
        <!-- deny ERROR level -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <!-- deny WARN level -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/cards/archived/cards-info-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>10KB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <pattern>
                %d %-5level [%thread] %logger{0}: %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="WARN-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/cards-warn.log</file>
        <!-- deny ERROR level -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <!-- deny WARN level -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>DENY</onMatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/cards/archived/cards-warn-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>10KB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <pattern>
                %d %-5level [%thread] %logger{0}: %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/cards-error.log</file>
        <!-- deny ERROR level -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>DENY</onMatch>
        </filter>
        <!-- deny WARN level -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/cards/archived/cards-error-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>10KB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <pattern>
                %d %-5level [%thread] %logger{0}: %msg%n
            </pattern>
        </encoder>
    </appender>


    <root level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="INFO-FILE"/>
        <appender-ref ref="WARN-FILE"/>
        <appender-ref ref="ERROR-FILE"/>
    </root>

</configuration>
